.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.icebear{
  border: solid 10px snow;
  border-radius: 50px;
 
}
.profile
{ width: 300px;
  height: 300px;
  border: solid 5px rgb(89, 82, 82);
  border-radius: 50%;
}

.section3 img
{
height: 300px;
width: 300px;
border: solid 10px rgb(214, 202, 202);
}
